//General settings

:root {
  --black: #1d1f21;
  --white: #d9d9d9;
  --red: #d60000;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
