.zs-c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
}

.zs {
  margin: 8px;
  height: 80%;
  width: 60%;
  border-radius: 20px;
  background-color: var(--white);
}

#zs-o {
  display: flex;
  justify-content: end;
}

#zs-u {
  display: flex;
  justify-content: end;
}

#i-f-zs-o-c {
  display: flex;
  flex-flow: row;
}

.l-zs {
  display: flex;
  margin: 8px;
}

#o-f-zs-u {
  display: flex;
  flex-flow: row;
}

#description {
  height: 120px;
}

#zr-c {
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#sgl-c {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

#sgl-p {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: var(--white);
  margin: 8px;
}

#o-c {
  height: 176px;
  margin: 8px;
}

#sgl-a {
  height: 176px;
  width: 160px;
  border-radius: 10px;
  margin: 8px;
  background-color: var(--white);
}
#on-off {
  height: 100px;
  width: 80px;
  background-color: var(--white);
}
#z-a-c {
  display: flex;
  flex-flow: column;
}

#z-a {
  color: var(--red);
}
.za {
  background-color: var(--white);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 40px;
  color: var(--black);
  text-shadow: 0px 3px 5px rgba(57, 57, 57, 0.3);
  border-radius: 20px;
  width: 320px;
  height: 80px;
  margin: 8px;
  border: none;
}

#qr {
  height: 100px;
  width: 100px;
  background-color: var(--black);
}

.sgl-i {
  margin-right: 50px;
}
#unterschrift {
  margin-bottom: 20px;
}
.switch {
  font-family: 'IBM Plex Mono', monospace;
  height: 200px;
  width: 100px;
  background-color: var(--white);
  border: 5px solid var(--black);
}
